<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, < %= name % >!</h1>
    <p>Thank you for registering on our site. We are excited to have you on our Rental
         vehicle system feel free to book any vehicle of your choice!</p>
</body>
</html>
